---
layout: default
---

<div class="wa-stack">
  <h3 class="wa-heading-l"><%= data.title %></h3>
  <p class="wa-caption-s"><%= data.lead_in %></p>
  <wa-divider></wa-divider>
  <dl class="wa-stack wa-gap-2xl">
    <div class="wa-flank" style="--flank-size: 20ch;">
      <dt>Section</dt>
      <dd><%= data.section %></dd>
    </div>
    <div class="wa-flank" style="--flank-size: 20ch;">
      <dt>Tags</dt>
      <dd>
        <% data.tags.each do |t| %>
          <wa-badge variant="success" pill> <%= t %> </wa-badge>
        <% end %>
      </dd>
    </div>
    <div class="wa-flank" style="--flank-size: 20ch;">
      <dt>URL</dt>
      <dd><a href="<%= data.url %>"><%= data.url %></a></dd>
    </div>
    <div class="wa-flank wa-align-items-start" style="--flank-size: 20ch;">
      <dt>About</dt>
      <dd>
        <%= yield %>
      </dd>
    </div>
    <div class="wa-flank" style="--flank-size: 20ch;">
      <dt>Image</dt>
      <dd><img src="/<%= data.image %>" style="height: 25%;"></dd>
    </div>
  </dl>
</div>

