<div class="wa-stack">
  <div>
    <div class="wa-split">
      <h3 class="wa-heading-xl"><%= section %></h3>
      <a class="wa-cluster wa-gap-2xs" href="#"><span>View More</span> <wa-icon name="arrow-right"></wa-icon></a>
    </div>
    <wa-divider></wa-divider>
    <div class="wa-grid">
      <% accc.take(3).sort_by { |acc| acc.data.title}.each do |acc| %>
        <a href="<%= acc.relative_url %>">
          <wa-card with-image style="height: 100%">
            <img
              slot="media"
              src="/<%= acc.data.image %>"
              alt="<%= acc.data.alt_text %>"
              style="width: 100%; height: 250px; object-fit: cover;"
            />
            <div class="wa-stack wa-gap-xs">
              <span class="wa-caption-m">
                <% acc.data.tags.each do |t| %>
                  <wa-badge variant="success" pill> <%= t %> </wa-badge>
                <% end %>
              </span>
              <span class="wa-heading-l"><%= acc.data.title %></span>
            </div>
          </wa-card>
        </a>
        <% if acc == accc[2] %>
          <wa-divider></wa-divider>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

